<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head')%>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SMX8CHEQTT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-SMX8CHEQTT");
    </script>

  </head>
  <body>
    <%- include('partials/navigation')%>

    <!-- Main content -->
    <header
      class="container vh-100 d-flex justify-content-center align-items-center"
    >
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="/img/logo.png" alt="" class="w-50" />
        <h1 class="display-1 my-5 text-uppercase fw-bold">Antonio</h1>
        <a href="/about" class="btn btn-primary w-25">Sobre Mi</a>
      </div>
    </header>
    <%- include('partials/footer')%>
  </body>
</html>
