<footer class="bg-dark text-center p-4">
       <p class="h4">Este es una pagina de informacion sobre Antonio Volcan un estudiante de programacion II en la UNERG</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>